
.title {
  background: url('../images/Football\ Field.jpg') no-repeat;
  background-position: center;
  background-size:cover;
  height: 15vw;
}

.title h1 {
  text-align: center;
  align-items: center;
  padding-top: 3vw;
  color: white;
  font-size: 6vw;
  text-shadow: 2px 2px 4px black;
}

.title h1 span {
  padding: 0 1vw; /* equal padding between words */
}


.main-content {
  background-color: #D5CA87;
  padding: 5vw;
}

.resources {
  width: 100%;
  margin: auto auto;
  text-align: center;
  border-style: double;
  border-color: black;
  border-width: .75vw;
}

.clubs {
  padding: 5vw;
  background-color: #F3F0DC;
}

.clubs h2 {
  padding-bottom: 2vw;
}

.clubs h3 {
  padding-bottom: 1vw;
}

.clubs p {
  text-align: left;
}

.athletics {
  padding: 5vw;
  background-color: #F3F0DC;
  padding-bottom: 5vw;
}

.athletics h2 {
  padding-bottom: 2vw;
}

.athletics h3 {
  padding-bottom: 1vw;
}

.athletics p {
  text-align: left;
}