
.title {
  background: url('../images/Football\ Field.jpg') no-repeat;
  background-position: center;
  background-size:cover;
  padding: 4rem;
}

.title h1 {
  text-align: center;
  align-items: center;
  color: white;
  font-size: 4.5rem;
  text-shadow: 2px 2px 4px black;
}

.title h1 span {
  padding: 0 1vw; /* equal padding between words */
}


.main-content {
  background-color: #d9c28f;
  padding: 5vw;
}

.resources {
  width: 70%;
  margin: auto auto;
  text-align: center;
}

.clubs {
  background-color: bisque;
  padding-bottom: 5vw;
}

.clubs h2 {
  padding-bottom: 2vw;
}

.clubs h3 {
  padding-bottom: 1vw;
}

.clubs p {
  text-align: left;
}

.athletics {
  background-color: azure;
  padding-bottom: 5vw;
}

.athletics h2 {
  padding-bottom: 2vw;
}

.athletics h3 {
  padding-bottom: 1vw;
}

.athletics p {
  text-align: left;
}