*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana';
}

body{
    min-height: 100vh;
}

::selection {
    color: black;
    background: #C5B358;
}

/*used with span to highlight words*/
.gold{
    color: #C5B358;
}

.teal{
    color: teal;
}

.black{
    color: black;
}