*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana';
    hyphens: auto;
}

body{
    min-height: 100vh;
}

::selection {
    color: black;
    background: #C5B358;
}

.gold{
    color: #C5B358;
}

.teal{
    color: teal;
}

.black{
    color: black;
}

mark {
    background-color: #CFC376;
}

html {
    background-color: black;
  }