.title {
  background: url('../images/Olympian\ Campus.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 30vh;
  width: 100vw;
}
  
.title h1 {
  text-align: center;
  align-items: center;
  padding-top: 17.5vh;
  color: white;
  font-size: 6vw; /*may chang to rem */
  text-shadow: 2px 2px 4px black;
}

.main-content {
  background-color: #CFC376;
  padding: 5vw;
  min-height: 100vh;
}

.contact-info {
padding: 1rem;
padding-bottom: 2rem;
color:black;
}

.contact-info h2 {
  padding-top: 2rem;
}

.contact-info p a {
  padding-top: 1.5rem;

}

.contact-info a {
  color: teal;
}
.contact-info a:hover {
  color: #C4B454;;
  text-decoration: underline;
}

.contact-info {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  margin: auto auto;
  text-align: center;
  border-style: double;
  border-color: #CFC376;
  border-width: 1vw;
  background-color: #F3F0DC;
  word-wrap: break-word;
}