footer {
    background-color: black;
    color: white;
    display: flex; /* layout */
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1rem;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box; /* includes padding and border in width and height */
}

.container {
    justify-content: space-between;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.column {
    flex: 1; /* equal spacing */
    box-sizing: border-box; /* include padding and border in the element's total width and height */
    min-width: 0; /* allows columns to shrink */
    margin-left: 20px;
    margin-right: 20px;
    max-width: calc(33.33% - 40px); /* approximately equal columns, considering the margin */
}

.column h3 {
    color: #C5B358;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.column p {
    margin-bottom: 1rem;
}

.column a {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block; /* Prevents pseudo-element from stretching */
}

.column a:hover {
    color: teal;
}

.column a::after {
    content: '';
    width: 100%;
    height: 3px;
    background: teal;
    position: absolute;
    bottom: -2px; /* Adjust if needed for better spacing */
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .3s ease-in-out;
}

.column a:hover::after {
    transform: scaleX(1);
}

.notes {
    padding-bottom: 2rem;
}

.notes p {
    padding-top: 1rem;
}

/* design for mobile devices */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* stack columns */
        align-items: center;
        padding: 0;
    }

    .column {
        max-width: 100%;
        margin: 10px 0;
    }
}