:root {
  --image-padding: 4vw; /* Using vw (viewport width) unit for relative and responsive spacing */
}

.home-main {
  background: url('../images/Olympian\ Campus.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.marquee-top {
  width: 75%;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border-style: ridge;
  border-color: teal;
  border-width: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; /* Ensures even space between image and text */
  align-items: center;
  padding-left: calc(var(--image-padding)*2); /* Calculate padding based on half of --image-padding */
  padding-right: calc(var(--image-padding)*2); /* Calculate padding based on half of --image-padding */
}

.marquee-top img {
  height: 7.5vw; /* Using vw unit for responsive image height */
  width: auto; /* Ensure image scales proportionally */
}

.marquee-top h1 {
  font-size: 3rem;
  color: black;
  font-weight: bold;
  text-align: center;
}

.marquee-bottom {
  width: 75%;
  margin-top: -1rem;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  border-style: ridge;
  border-color: teal;
  color: white;
  border-width: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
}

.marquee-bottom h1 {
  font-size: 3rem;
  margin-top: 1rem;
}

.marquee-bottom p {
  font-size: 1.2rem;
  margin: .5rem 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}