.home-main {
  background: url('../images/Olympian Campus.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.marquee {
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 75%;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.marquee-top {
  height: auto; /* Allow content to dictate height */
  background-color: white;
  border: 1vw ridge teal;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  height: fit-content;
  overflow: hidden; /* Hide overflow to prevent stretching */
  padding: 1vw; /* Padding around the content */
}

.marquee-top img {
  width: auto; /* Allow image to adjust width */
  height: auto;
  width: 25%;
  max-width: 50%;
  min-width: 25%;
}

.marquee-top h1 {
  font-size: 3rem;
  color: black;
  font-weight: bold;
  text-align: center; /* Center-align the text */
}

.marquee-top h1 span {
  padding: 0 1vw; /* Horizontal padding */
}

.marquee-bottom {
  margin-top: -1vw;
  background-color: #1e1e1e;
  border-style: ridge;
  border-color: teal;
  color: white;
  border-width: 1vw;
  text-align: center;
  padding: 2rem 1rem 1rem;
}

.marquee-bottom p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .marquee {
    width: 90%; /* Adjust width for smaller screens */
  }

  .marquee-top h1 {
    font-size: 4vw; /* Adjust font size for smaller screens */
  }

  .marquee-bottom p {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
    line-height: 2rem;
  }
}

@media (max-width: 480px) {
  .marquee-top h1 {
    font-size: 5vw; /* Further adjust font size for smaller screens */
  }

  .marquee-bottom p {
    font-size: 1rem; /* Further adjust font size for smaller screens */
    line-height: 1.5rem;
  }
}
