.home-main {
  background: url('../images/Olympian Campus.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.marquee {
  padding-bottom: 6%; /* Adjust padding as a percentage of the viewport height */
  width: 75%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.marquee-top {
  height: auto; /* Allow content to dictate height */
  background-color: white;
  border: 1vw ridge teal;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  max-height: 8vw; /* Maximum height of .marquee-top */
  overflow: hidden; /* Hide overflow to prevent stretching */
}

.marquee-top img {
  width: auto; /* Allow image to adjust width */
  max-height: 6vw; /* Ensure image scales proportionally */
  
}

.marquee-top h1 {
  flex: 2; /* Take up 2 parts of the available space */
  font-size: 3vw; /* Font size relative to viewport width */
  color: black;
  font-weight: bold;
  text-align: center; /* Center-align the text */
  padding: 1vw; /* Padding around the content */
}

.marquee-top h1 span {
  padding: 0 1vw; /* Horizontal padding */
}

.marquee-bottom {
  margin-top: -1vw;
  background-color: #1e1e1e;
  border-style: ridge;
  border-color: teal;
  color: white;
  border-width: 1vw;
  text-align: center;
  padding: 2rem 1rem 1rem;
}

.marquee-bottom p {
  font-size: 1.5vw;
  line-height: 2.5vw;
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .marquee {
    width: 90%; /* Adjust width for smaller screens */
  }

  .marquee-top h1 {
    font-size: 4vw; /* Adjust font size for smaller screens */
  }

  .marquee-bottom p {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
    line-height: 2rem;
  }
}

@media (max-width: 480px) {
  .marquee-top h1 {
    font-size: 5vw; /* Further adjust font size for smaller screens */
  }

  .marquee-bottom p {
    font-size: 1rem; /* Further adjust font size for smaller screens */
    line-height: 1.5rem;
  }
}
