nav{
    height: 70px;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

nav .brand{
    display: flex;
    align-items: center;
}

nav .brand img{
height: 50px;
}

nav .brand a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}